{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>IdCom</th>
                <td>{{ commentaire.idCom }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ commentaire.Contenu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commentaire.Date ? commentaire.Date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nbr_likes</th>
                <td>{{ commentaire.nbrLikes }}</td>
            </tr>
            <tr>
                <th>Nbr_reclamation</th>
                <td>{{ commentaire.nbrReclamation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commentaire_index') }}">back to list</a>

    <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}">edit</a>

    {{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
